<div class="footer">
    <div class="container footer-content clear-fix">
        <div class="footer-logo">
        </div>

        <div class="copyright-wrapper">
            © {{controller.year}} Precor Incorporated. All Rights Reserved.
        </div>
        <div class="nav-wrapper">
            <a href="http://www.precorconnect.com/terms-of-use.html">
                Terms of Use |
            </a>
            <a href="http://www.precorconnect.com/privacy-policy.html">
                Privacy Policy |
            </a>
            <a href="http://www.precorconnect.com/consumer-terms-and-conditions-and-return-policy.html">
                Terms &amp; Conditions
            </a>
        </div>
    </div>
    <div class="footer-banner">
    </div>
</div>